<h2>Show team</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @team.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @team.description %>
  </li>

</ul>

<%= link "Add sheet", to: team_sheet_path(@conn, :new, @team) %> |
<%= link "Sheets", to: team_sheet_path(@conn, :index, @team) %> |
<%= link "Edit", to: team_path(@conn, :edit, @team) %> |
<%= link "Back", to: team_path(@conn, :index) %>
