<h2>Edit sheet</h2>

<%= render "form.html", changeset: @changeset,
                        action: team_sheet_path(@conn, :update, @team, @sheet) %>

<%= link "Back", to: team_sheet_path(@conn, :index, @team) %>
